<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
  <style>
    #shadow{
      text-shadow: 2px 2px 1px rgba(0,0,0,.4);
    }
  </style>
</head>
<body >
  <main >
    <section >
      <div class="container-fluid m-0 p-0">
        <div class="card bg-dark text-white" id="card1">
          <img src="../assets/images.jpg"  height="500px"  class="card-img" alt="...">
          <div class="card-img-overlay  d-flex justify-content-center align-items-center flex-column align-content-around">
            <h3 class="card-title ">David Zaki</h3>
            <p class="card-text">Wep Developer & Design</p>
            <a  href="mailto:davidzaki77@gmail.com"  class="btn btn-dark btn-outline-light"  role="button">Contact Me</a>
          </div>
        </div>

        <div class="row mx-0 my-5">
          <div class="col-4 ">
            <p class="fs-3 fw-3  d-flex justify-content-center" id="shadow">About Me</p>
          </div>
          <div class="col-8 ">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
              iure praesentium odio earum nesciunt ullam maxime. Temporibus,
              vel accusantium sit odit harum commodi consectetur. Adipisci
              optio blanditiis fugit suscipit velit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
              iure praesentium odio earum nesciunt ullam maxime. Temporibus,
              vel accusantium sit odit harum commodi consectetur. Adipisci
              optio blanditiis fugit suscipit velit!
            </p>
            <a href="http://localhost:4200" download="My CV David Zaki"  class="btn btn-dark text-white btn-outline-dark"  role="button">Download file</a>
          </div>
        </div>

        <div class="row bg-secondary my-5 text-white mx-0">
          <div class="col-12 text-center fs-2 fw-5 my-3"><span class="">Skilss</span></div>
          <div class="col-12 my-3">
            <p class="d-flex justify-content-center m-auto w-75">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Aspernatur dolorum dicta distinctio, tempora beatae soluta quia minima magni
              architecto est repudiandae,
              vel fuga dolore doloribus cupiditate ipsam, tenetur illum dolores.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Aspernatur dolorum dicta distinctio, tempora beatae soluta quia minima magni
              architecto est repudiandae,
              vel fuga dolore doloribus cupiditate ipsam, tenetur illum dolores.
            </p>
          </div>
          <div class="col-5 my-4 me-3 d-flex flex-column align-items-center">
            <p class="mt-3">My Focus</p>
            <p class="w-50 border border-1 border-top-0 border-start-0 border-end-0"></p>
            <p>UI/UX Design</p>
            <p>Responsive Design</p>
            <p>Web Design</p>
            <p>Mopile App Design</p>
          </div>
          <div class="col-5 mb-3">
            <label for="" class="m-2 ms-0 opacity-50">HTML</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">CSS</label>
            <div class="progress" >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">93%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Javascript</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">React</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Bootstrabe</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Nodejs</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">750%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Photshop</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Wordpress</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
            <label for="" class="m-2 ms-0 opacity-50">Adope XD</label>
            <div class="progress " >
              <div class="progress-bar bg-dark opacity-50 " role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-12">
            <p class="fs-3 fw-3 m-3" id="shadow">About Me</p>
          </div>
          <div class="col-4 d-flex flex-column ">
            <div class="card text-white bg-secondary  m-3 mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body d-flex align-items-center justify-content-center ">
                <h5 class="card-title">WEB DESIGN</h5>
              </div>
            </div>
            <div class="card text-white bg-secondary   m-3 mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body  d-flex align-items-center justify-content-center">
                <h5 class="card-title">MOPILE DESIGN</h5>
              </div>
            </div>
          </div>
          <div class="col-4 d-flex flex-column">
            <div class="card text-white bg-secondary m-3 mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body  d-flex align-items-center justify-content-center">
                <h5 class="card-title">LOGO DESIGN</h5>
              </div>
            </div>
            <div class="card text-white bg-secondary m-3  mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body  d-flex align-items-center justify-content-center">
                <h5 class="card-title">Web APP DEVELOPMENT</h5>
              </div>
            </div>
          </div>
          <div class="col-4 d-flex flex-column mb-5">
            <div class="card text-white bg-secondary  m-3 mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body  d-flex align-items-center justify-content-center">
                <h5 class="card-title">MOPILE APP DEVELOPMENT</h5>
              </div>
            </div>
            <div class="card text-white bg-secondary  col-4 m-3 mx-auto" style="width: 18rem;height: 200px;">
              <div class="card-body  d-flex align-items-center justify-content-center">
                <h5 class="card-title ">PAW DEVELOPMENT</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="countainer-fluid bg-dark m-0">
      <div class="row m-0 text-white">
        <div class="col-4 my-5 text-center">
          <p>GET IN TOUCH</p>
          <div>
            <p>
              <i class="fas fa-envelope"></i>
              davidzaki77@gmail.com
            </p>
            <p>
              <i class="fas fa-phone "></i>
              717-355-743
            </p>
          </div>
        </div>

        <div class="col-4 my-5 text-center">
          <a  href="mailto:davidzaki77@gmail.com"  class="btn btn-dark btn-outline-light m-3"  role="button">Contact Me</a>
        </div>

        <div class="col-4 my-5 text-center">
          <a href="#" class="text-decoration-none link-light"><i class="fab fa-facebook-square mx-1"></i></a>
                <a href="#"class="text-decoration-none link-light"><i class="fab fa-instagram-square mx-1"></i></a>
                <a href="#" class="text-decoration-none link-light"><i class="fab fa-snapchat-square mx-1"></i></a>
                <a href="#" class="text-decoration-none link-light"><i class="fab fa-twitter mx-1"></i></a>
          <p>copy right &copy; 2022 KR</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
